body{
    background-color: rgb(165, 206, 212);
    color: black;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-style:inherit ;
    font-weight: 500;
    
}